<mat-card class="example-card">
  <mat-card-content>
    <h1>+ Ativos</h1>
   
    <div style="overflow-x:auto;">
      <table>
        <tr>
          <th>Origem</th>
          <th>Valor</th>
          <th>Data</th>
        </tr>
        <tr *ngFor="let ativo of ativos">
          <td>{{ativo.origem}}</td>
          <td>{{ativo.valor}}</td>
          <td>{{ativo.data | date:'MM/dd/yyyy hh:mm:ss'}}</td>
          <td> <button mat-mini-fab color="warn" (click)="deletar(ativo._id)"><mat-icon>clear</mat-icon></button></td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>