<mat-card class="example-card">
    <mat-card-header class="login">
        <mat-card-title>Bem vindo<br>Gabriel Presoto</mat-card-title>
        <mat-card-subtitle class="button-secondary">Histórico</mat-card-subtitle>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <h3>Seu saldo atual é de : </h3>
      <h1>R$: 1000</h1>
    </mat-card-content>
   
  </mat-card>
  