<mat-card class="example-card">
    <mat-card-header class="login">
        <mat-card-title>Bem vindo<br>Gabriel Presoto</mat-card-title>
        <!-- <mat-card-subtitle class="button-secondary">Editar</mat-card-subtitle> -->
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-content>
      <h3>Seu saldo atual é de : </h3>
      <h1>R$: {{carteiraFalse}}</h1> 
    </mat-card-content>
    <a href="/novovalor">
    <button mat-raised-button>Adicionar novo valor 
    </button></a>
  </mat-card>
  