.example-container {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    /* max-width: 80%; */
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

      }
  
  .example-container > * {
    
  }

  .mat-form-field{
    /* color: aliceblue; */
    /* background-color: white; */
    margin-left: 40%;
    max-width: 500px;
    text-align: center;
  }